<header>
{% include "templates/partials/nav.html" %}


{# Simple search form, remove from search index #}
<!--<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form>-->
<div class="box">
 <h1 class="left_head">
   <a href="/" class="brand-logo">
     <img src="/static/images/nomadlogo.svg" title="Nomad Event Systems" alt="Nomad Event Systems" width="300px">
   </a>
 </h1>
 <h2 class="right_head">
   <address>
     Alexandria, VA &#183; Washington D.C.
     <br>
     <a href="tel:17033542939">
       703 &#183; 354 &#183; 2939
     </a>
   </address>
 </h2>
</div><!-- /headbox -->

</header>
