<ul id="about-drop" class="dropdown-content">
  <li>
    <a href="{{ url('about') }}">
      Company
    </a>
  </li>
  <li>
    <a href="{{ url('team') }}">
      Team
    </a>
  </li>
  <li>
    <a href="{{ url('employment') }}">
      Employment
    </a>
  </li>
</ul>
<nav class="mainnav">
 <div class="nav-wrapper">
   <ul id="nav-mobile" class="right">
    <li>
      <a href="/">
          Home
        </a>
    </li>
    <!--<li>
      <a href="{{ url('portfolio') }}">
          Portfolio
        </a>
    </li>-->
    <li>
      <a href="{{ url('services') }}">
        Services
      </a>
    </li>
    <li>
      <a href="{{ url('about') }}">
        About
      </a>
    </li>
    <!--<li>
      <a class="dropdown-trigger" href="#!" data-target="about-drop">
        About
      </a>
    </li>-->
    <li>
      <a href="{{ url('contact') }}">
        Contact
      </a>
     </li>
   </ul>
 </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <a href="/">
        Home
      </a>
  </li>
  <!--<li>
    <a href="{{ url('portfolio') }}">
        Portfolio
      </a>
  </li>-->
  <li>
    <a href="{{ url('services') }}">
      Services
    </a>
  </li>
  <li>
    <a href="{{ url('about') }}">
      About
    </a>
  </li>
  <!--<li>
    <a class="dropdown-trigger" href="#!" data-target="about-drop">
      About
    </a>
  </li>-->
  <li>
    <a href="{{ url('contact') }}">
      Contact
    </a>
   </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-med-and-up">
  <i class="fa fa-bars fa-lg menupad"></i>
</a>
