<ul class="sharenav center-align">
    <li class="fb">
        <a href="https://www.facebook.com/panoramic.mgmt/">
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        </a>
    </li>
    <li class="twit">
        <a href="https://twitter.com/panoramicmgmt">
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
    </li>
    <li class="insta">
        <a href="http://https//www.instagram.com/panoramic.mgmt/">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        </a>
    </li>
    <li class="mail">
        <a href="contact">
            <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
        </a>
    </li>
</ul>
