{# ------------------------------------------------------- #}
{# ONE OFF VIEW equipmentlighting #}
{# This page can use any data from http:localhost:2000/cms/#/form/equipmentlighting/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this equipmentlighting's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.equipmentlighting.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.equipmentlighting.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.equipmentlighting.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.equipmentlighting.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.equipmentlighting.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Image: </strong>
        {# You can pull out a lot more information from the image property. Info here: #}
        {# http://www.webhook.com/docs/widget-template-reference/#image #}
        <img src="{{ cms.equipmentlighting.image|imageSize(200, 200) }}" />
      </li>
      <li>
        <strong>Introduction: </strong>
        {{ cms.equipmentlighting.introduction|safe }}
      </li>
      <li>
        <strong>Gear List: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in cms.equipmentlighting.gear_list %}
            <li>
              <strong>Item: </strong>
              {{ row.item }}
            </li>
        {% endfor %}
        </ul>
      </li>
      <li>
        <strong>Service Types: </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in cms.equipmentlighting.service_types %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.equipmentlighting.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.equipmentlighting.slug }}
      </li>
  </ul>
{% endblock %}
