{% extends "templates/partials/base.html" %}

{% block title %}
  {% parent %}
{% endblock %}

{% block content %}

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ cms.main.header_image.url }}" alt="">
  </div>
</div>

<div class="container sidebyside">
  <span class="mainleft">
    {{ cms.main.hero_left|safe }}
  </span>
  <span class="mainright">
    {{ cms.main.hero_right|safe }}
  </span>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ cms.main.header_image.url }}" alt="">
  </div>
</div>

<div class="container quote">
  <h4>
    "I can't thank you enough for all that you did last night - it exceeded my expectations!!! Absolutely awesome. Everyone was talking about the lighting and "images" , including our director. And the fireworks - perfect! They loved it."
  </h4>
  - Tina Karl, Special Events Manager, Natural History Museum
  {{ cms.testimonial.quote }}
  {{ cms.testimonial.name }}
</div>

{% endblock %}
